### Import relevant libraries

_Uncomment and run the following cells to import the libraries:_

In [1]:
import pandas as pd

In [2]:
import geopandas as gpd

C:\Users\preda\AppData\Local\Temp\ipykernel_11436\3841419929.py:1: UserWarning: Shapely 2.0 is installed, but because PyGEOS is also installed, GeoPandas will still use PyGEOS by default for now. To force to use and test Shapely 2.0, you have to set the environment variable USE_PYGEOS=0. You can do this before starting the Python process, or in your code before importing geopandas:

import os
os.environ['USE_PYGEOS'] = '0'
import geopandas

In a future release, GeoPandas will switch to using Shapely by default. If you are using PyGEOS directly (calling PyGEOS functions on geometries from GeoPandas), this will then stop working and you are encouraged to migrate from PyGEOS to Shapely 2.0 (https://shapely.readthedocs.io/en/latest/migration_pygeos.html).
  import geopandas as gpd

In [3]:
import pysal as ps

In [4]:
import libpysal

In [5]:
import pyproj

In [6]:
import geopy

In [7]:
import cartopy as cp

In [8]:
import geojson

In [9]:
import osmnx as ox

In [10]:
import matplotlib.pyplot as plt

In [11]:
import sklearn

In [12]:
import seaborn as sns

In [13]:
import bokeh

In [14]:
import folium


# Set-up Test / Quest 1:

_Run the rest of the code cell by cell._

### Use example datasets from the pysal library

In [15]:
from libpysal.examples import available
from libpysal.examples import explain

### Lists available datasets

In [16]:
available() # this may take a while to finish loading

         Name                                        Description  Installed
0       10740  Albuquerque, New Mexico, Census 2000 Tract Dat...       True
1      AirBnB  Airbnb rentals, socioeconomics, and crime in C...      False
2     Atlanta       Atlanta, GA region homicide counts and rates      False
3   Baltimore          Baltimore house sales prices and hedonics      False
4   Bostonhsg               Boston housing and neighborhood data      False
..        ...                                                ...        ...
93        taz           Traffic Analysis Zones in So. California      False
94      tokyo                               Tokyo Mortality data       True
95  us_income  Per-capita income for the lower 48 US states 1...       True
96   virginia                        Virginia counties shapefile       True
97       wmat          Datasets used for spatial weights testing       True

[98 rows x 3 columns]

### Explain a dataset by _Name_

In [17]:
explain('Columbus') # here we are getting more information on the 'Columbus' dataset

__Quiz question: The 'Columbus' dataset contains information on crimes in Columbus, Ohio for which year?__ (Please answer directly in the quiz)

### Use the osmnx library to read OpenStreetMap data to a geodataframe _(gdf)_

In [18]:
region_name = 'Ohio, USA' 
region = ox.geocoder.geocode_to_gdf(region_name, which_result=2)
region

,geometry,bbox_north,bbox_south,bbox_east,bbox_west,place_id,osm_type,osm_id,lat,lon,display_name,class,type,importance
0,"POLYGON ((-87.13764 37.34128, -87.13691 37.334...",37.737713,37.212326,-86.576241,-87.137642,299017293,relation,1846572,37.47577,-86.856064,"Ohio County, Kentucky, United States",boundary,administrative,0.606776

__Quiz question: Scroll across the whole 'region' geodataframe. What is the value of the 'class' field?__ (Please answer directly in the quiz)